pdf-page {
    display: block;
    position: relative;

}

.textLayer ::selection {
    background: rgba(255, 230, 0,0.3);

    /*color: black*/
}

.textLayer ::-moz-selection {
    background: rgba(255, 230, 0,0.3);
    /*color: black*/
}